.date-range-wrapper {
  position: absolute;
  left: 0 !important;
  top: 60px !important;
  z-index: 10;
}

.date-range-wrapper .rdrInputRange span {
  color: black !important;
}

.date-range-wrapper .rdrDayNumber span::after {
  background: rgb(116, 216, 189) !important;
}
